<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.io-stream.js"></script>
</head>
<body>
<img id="play">
<div id="logger"></div>
<div id="playvid"></div>
</body>
<script type="text/javascript">

    var socket = io();
    socket.on('stream',function(image){
        $('#play').attr('src',image);
        $('#logger').text(image);
    });
    socket.on('video',function(stream){
        // $('#playvid').attr('src',stream);
        $('#logger').text(stream);
        ss(socket).emit('video', stream);
        stream.pipe(fs.createWriteStream(
        document.getElementById('playvid').innerHTML = '<video width="400" controls>' +
            '  <source src='+ stream +' type="video/mp4">' +
            '  <source src=' + stream + ' type="video/ogg">' +
            '  Your browser does not support HTML5 video.' +
            '</video>'
        ));
    });

</script>
</html>